{
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jasmine": true,
		"commonjs": true
	},
    "globals": {
        "angular": true
    },
	"extends": [ "eslint:recommended" ],
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module",
		"ecmaFeatures": {
			"globalReturn": false,
			"impliedStrict": true,
			"experimentalObjectRestSpread": true
		}
	},
	"parser": "babel-eslint",
	"rules": {
		"indent": ["error", 4, { "SwitchCase": 1 }],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"no-console": 0,
		"strict": 1
	}
}